<h3>Stats</h3>
<div class="row">
  <div class="col-md-10">
    todo
  </div>
  <div class="col-md-2">
    <p>Name: {{name}}</p>
    <p>Nickname: {{nickname}}</p>
    <p>Age: {{age}}</p>
    <p>Height: {{height}}</p>
    <p>Weight: {{weight}}</p>
  </div>
</div>