<button class="btn btn-danger"{{action "activateDelete"}}>Delete</button>
<button class="btn btn-default"{{action "edit"}}>Edit</button>

{{#if deleteMode}}
<div class="confirm-box">
  <h4>Are you sure?</h4>
  <button class="btn btn-danger"{{action "confirmDelete"}}> Yes </button>
  <button class="btn btn-default"{{action "cancelDelete"}}> No </button>
</div>
{{/if}}

<div class="row">
  <div class="col-md-10">
    <h2>{{name}}</h2>
    <p>Start Date: {{date startDate}}</p>
    <p>End Date: {{date endDate}}</p>
    <p>Max Participants: {{maxParticipants}}</p>
    <p>Lower Level Restriction: {{lowerLevelRestriction}}</p>
    <p>Upper Level Restriction: {{upperLevelRestriction}}</p>
    <p>Public: {{isPublic}}</p>
    <p>Active: {{active}}</p>
    <p>Reward: {{reward}}</p>
    <br />
  </div>

  <div class="col-md-2">
    <ul>
    {{#each controller.exercises}}
      <li>{{name}}</li>
    {{/each}}
    </ul>
  </div>
</div>
<div>
  <h4>event e </h4>
  <ul>
  {{#each controller.eventExercises}}
    <li>{{id}}</li>
  {{/each}}
  </ul>
</div>
<hr class="featurette-divider">

{{outlet}}

